setuptools==7.0
zc.buildout==2.2.5
pbr==1.10.0

mr.developer==1.34
zc.recipe.egg==2.0.3
collective.recipe.template[genshi]==1.13
collective.recipe.sphinxbuilder==0.9
chaussette==1.3.0
nose==1.3.7
WebTest==2.0.21
coverage==4.4.1
repoze.profile==2.2
pyprof2calltree==1.3.2
beautifulsoup4==4.4.1
six==1.10.0
WebOb==1.6.1
waitress==0.9.0
boto==2.31.1
pytz==2016.4
pyramid-exclog==0.7
pyramid==1.7
libnacl==1.4.5
gevent==1.1.1
pycrypto==2.6.1
oslo.middleware==3.14.0
LEPL==5.1.3
venusian==1.0
zope.deprecation==4.1.2
repoze.lru==0.6
zope.interface==4.2.0
greenlet==0.4.10
oslo.utils==3.14.0
Jinja2==2.8
debtcollector==1.5.0
oslo.i18n==3.7.0
oslo.context==2.5.0
oslo.config==3.12.0
stevedore==1.15.0
netifaces==0.10.4
funcsigs==1.0.0
iso8601==0.1.11
netaddr==0.7.18
monotonic==1.1
MarkupSafe==0.23
wrapt==1.10.8
Babel==2.3.4
rfc3986==0.3.1
circus==0.13.0
circus-web==1.0.0
Mako==1.0.4
pyzmq==15.3.0
tornado==4.3
tomako==0.1.0
psutil==4.3.
certifi==2017.04.17
backports-abc==0.4
simplejson==3.8.2
sphinxcontrib-httpdomain==1.5.0
sphinx-rtd-theme==0.1.9
docutils==0.12
Sphinx==1.4.4
